


  .container {
      margin:17% auto;
      text-align: center;
     
     
    }
.text{
      display: flex;
      align-items: center;
      justify-content: center;

}
  textarea {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  #result {
    margin-top: 20px;
    font-size: 18px;
  }